<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="atiPrice" value="Цена для АТИ"/>
		<add key="maxPrice" value="Макс. цена"/>
		<add key="countPrice" value="Расчитать ставку"/>
		<add key="bidWithRate" value="Ставка с НДС"/>
		<add key="bidWithOutRate" value="Ставка без НДС"/>

		<add key="price" value="37000"/>
		<add key="rollBack" value="1000"/>



	</appSettings>
</configuration>